body {
    /* background: url(https://media.giphy.com/media/LmWnCBTOGUmw8/giphy.gif) no-repeat fixed; */
    background-size: cover;
    max-width: 700px;
    overflow: hidden;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    
    justify-content: center;
   
    
    /* align-items: center; */
   

}
.main {
    max-height: 800px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    /* border: solid red 3px; */
    align-items: center;
    
}
.title {
    display: flex;
    justify-content: center;
    /* margin-top: 250px; */
    /* border: solid blue 3px; */
    align-items: center;
    font-size: 50px;
    color: turquoise;
}
.start-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* background-color: green; */
    background: url(https://media.giphy.com/media/8b29QJQgVwUW4/giphy.gif);
    color: thistle;
    border: solid yellow 2px;
    align-self: center;
    width: 100px;
    height: 50px;
    font-size: 30px;
    margin-bottom: 25px;
}
.reset-button {
    background: url(https://media.giphy.com/media/HhTXt43pk1I1W/giphy.gif) center center fixed;
    align-items: center;
    width: 100px;
    height: 50px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: gold;
    border: solid purple 2px;
    align-self: center;
}

  .qtr {
    background:white;
    border:solid black 1px;
    display:inline-block;
    width:150px;
    height:150px;
    margin:0;
    vertical-align:middle;
    text-align:center;
  }
  
  /* .qtr:hover {
    background:rgb(240,240,255) ;
  } */
  .lbl {
    line-height:150px;
    vertical-align:middle;
    display:inline-block;
    transform:rotate(-0.125turn);
    font-size:32px;
  }
  .slice1 {
    border-radius:100% 0 0 0;
    background: red;
  }
  .slice2 {
    border-radius:0 100% 0 0;
    background: blue;
    margin-bottom: 5px;
  }
  .slice4 {
    border-radius:0 0 100% 0;
    background: yellow;
    margin-bottom: 5px;
  }
  .slice3 {
    border-radius:0 0 0 100%;
    background: green;
  }
  .circle {
    transform: rotate(45deg) translate(120px, 200px);
    /* border: solid yellow 3px; */
    justify-content: center;
    margin-left: 100px;
    margin: bottom 100px;
    align-items: center;
  }